<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>about</title>
    <link rel="stylesheet" href="/public/about.css" />
  </head>
  <body>
    <h1>About</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. At voluptatum
      quia dolorum iste natus quod, impedit dolorem expedita quam quas
      perferendis quasi iusto vitae aut, ducimus, voluptate ab. Necessitatibus,
      omnis.
    </p>
  </body>
</html>
