<div class='horizontal'>

  <div id='image'>
    <!-- I could not link to a local image in this directory-->
    <img
      {{! src='https://svgshare.com/i/ffj.svg'
      alt='car image'
      width='500'
      height='700' }}
    />
  </div>

  <div class='vertical'>
    <div class='text-box'>

      <div id='gallery'>

        <div>
          <h1>{{pageTitle}}</h1>
        </div>

        <div>
          <h2></h2>
        </div>

        <div>
          <p>

          </p>
        </div>

      </div>

    </div>

  </div>

</div>