<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>gallery</title>
    <link rel="stylesheet" href="/public/gallery.css" />
  </head>
  <body>
    <h1>Gallery</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae et,
      non dolor quisquam quos temporibus fugit minus in aliquid illo incidunt,
      harum voluptatibus accusantium magni aperiam veniam rerum, explicabo a!
    </p>
  </body>
</html>
