<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cemal Süreya</title>
    <link rel="stylesheet" href="/home.css" />
  </head>
  <body>
    <div class="vertical">
      <div id="navbar">
        <nav>
          <ul>
            <li><a href="/about">about</a></li>
            <li><a href="/works">works</a></li>
            <li><a href="/gallery">gallery</a></li>
          </ul>
        </nav>
      </div>
      <div class="horizontal">
        <div class="vertical">
          <div>
            <h1>Cemal Süreya</h1>
          </div>

          <div>
            <h2>Poet</h2>
          </div>

          <div>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat,
              vero sequi aspernatur fugiat corrupti ducimus placeat? Ea quos
              dicta nostrum, accusamus iure repellat alias mollitia sapiente
              blanditiis quis eos aut.
            </p>
          </div>
        </div>

        <div id="image">
          <!-- I could not link to a local image in this directory-->
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/0/0a/Feather2.jpg"
            alt="feather image"
            width="770"
            height="1100"
          />
        </div>
      </div>
    </div>
  </body>
</html>
