<div class='horizontal'>

  <div id='image'>
    <!-- I could not link to a local image in this directory-->
    <img
      src='https://svgshare.com/i/ffj.svg'
      alt='car image'
      width='500'
      height='700'
    />
  </div>

  <div class='vertical'>
    <div id='introduction'>
      <div>
        <h1>Adrian Newey</h1>
      </div>

      <div>
        <h2>Motorsports Engineer</h2>
      </div>

      <div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, vero
          sequi aspernatur fugiat corrupti ducimus placeat? Ea quos dicta
          nostrum, accusamus iure repellat alias mollitia sapiente blanditiis
          quis eos aut.
        </p>
      </div>
    </div>

  </div>

</div>