<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>home</title>
    <link rel="stylesheet" href="/public/home.css" />
  </head>
  <body>
    <h1>Welcome</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, vero
      sequi aspernatur fugiat corrupti ducimus placeat? Ea quos dicta nostrum,
      accusamus iure repellat alias mollitia sapiente blanditiis quis eos aut.
    </p>
  </body>
</html>
