<div class='horizontal'>

  <div id='image'>
    <!-- I could not link to a local image in this directory-->
    <img
      {{! src='https://svgshare.com/i/ffj.svg'
      alt='car image'
      width='500'
      height='700' }}
    />
  </div>

  <div class='vertical'>
    <div class='text-box'>

      <div id='work'>

        <div>
          <h1>{{pageTitle}}</h1>
        </div>

        <div>
          <h2></h2>
        </div>

        <div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel
            quibusdam fugit sapiente quasi, error delectus mollitia saepe natus
            aperiam animi officiis eveniet hic quia aut ducimus, ab voluptate
            libero repudiandae. Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Vitae iure doloribus veniam sit nostrum enim magni
            beatae. Reiciendis tempora quidem quisquam officia, natus maxime
            atque beatae, laborum assumenda alias unde. Lorem ipsum dolor sit
            amet consectetur adipisicing elit. Iste, reprehenderit. Nulla
            ducimus aspernatur quis exercitationem illum ullam quisquam, odio
            facilis assumenda quasi recusandae eligendi quia expedita molestiae
            unde consequuntur. Repellat! Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Tempore rerum exercitationem fugiat soluta omnis,
            consectetur porro id, eaque nemo veniam adipisci quisquam nihil,
            quam possimus facilis nam. Architecto, aspernatur consequuntur?
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum
            nesciunt quia qui impedit velit amet enim distinctio, consectetur
            voluptatibus provident architecto quidem blanditiis corrupti
            repellat illo ex in iusto odit. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Eaque culpa deleniti quibusdam ipsum
            sed error qui et voluptates numquam a nam omnis minima consequatur,
            cum nobis corrupti harum temporibus. Doloribus? Lorem ipsum dolor
            sit amet consectetur adipisicing elit. Autem impedit maiores in
            architecto officia ab delectus dolorem cumque sequi facilis
            voluptatem, molestias dolores possimus commodi deserunt laudantium,
            quasi obcaecati doloremque! Lorem ipsum dolor sit amet, consectetur
            adipisicing elit. Quia facilis velit quisquam enim magni consequatur
            voluptate numquam harum provident tenetur! Ducimus, consectetur?
            Animi expedita atque, praesentium voluptatem iure tempora eligendi!
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci
            eveniet eos odit quia iste ex corrupti numquam nihil dolorum! Iure
            expedita esse eum, ipsa ab sit nobis eveniet quasi ducimus?
          </p>
        </div>

      </div>

    </div>

  </div>

</div>