body {
  background-color: black;
  color: white;
  width: 100%;
  display: flex;
}

/* #image {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
} */

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
